
      <div class="bg-skew-main">

        <div class="content">
          <header class="intro-2">
            <div class="row">

                  <div class="medium-6 columns">
                  
                     
                    
                    <ul class="small-block-grid-3">
                      <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
                      <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
                      <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
                      <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
                      <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
                      <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
                      <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
                      <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
                      <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
                    </ul>
                  </div>
                
                  <div class="medium-6 columns">
                    <h4>5 Reasons why I am right for this job</h4>
                    <ul>
                      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                    </ul>
                   
                  </div>
                  
                 
                      
                </div>
            
          </header>
        </div>
      </div>