

      <div class="bg-skew-main">

        <div class="block2-content">
          <header class="intro-2">
            <div class="row">

                  <div class="medium-6 columns">
                        
                    
                    <ul class="small-block-grid-3">

                    <% @insta.last_nine.each do |insta| %>
                          <li><%= link_to image_tag(insta['images']['thumbnail']['url']), insta['link'], :target => "_blank" %></li>
                      <% end %>
                    </ul>
                  </div>
                
                  <div class="medium-6 columns accordion-div">
                    <h4>5 Reasons why I am right for this job</h4>
                       <ul class="accordion" data-accordion="myAccordionGroup">
                        <li class="accordion-navigation">
                          <a href="#panel1a">Reason 1</a>
                          <div id="panel1a" class="content">
                            I am a team player.
                          </div>
                        </li>
                        <li class="accordion-navigation">
                          <a href="#panel2a">Reason 2</a>
                          <div id="panel2a" class="content">
                            I'm not afraid to ask questions, but I try to figure out things on my own.
                          </div>
                        </li>
                        <li class="accordion-navigation">
                          <a href="#panel3a">Reason 3</a>
                          <div id="panel3a" class="content">
                            My front end skills are strong. I can translate mockups and prototypes into working applications and I have experience with Foundation 5.
                          </div>
                        </li>
                        <li class="accordion-navigation">
                          <a href="#panel4a">Reason 4</a>
                          <div id="panel4a" class="content">
                            I have a strong grasp of Ruby and I am teaching myself Node.js currently.
                          </div>
                        </li>
                        <li class="accordion-navigation">
                          <a href="#panel5a">Reason 5</a>
                          <div id="panel5a" class="content">
                            I like to cook and I'll make everyone wings and guacamole from scratch during football season.
                          </div>
                        </li>
                      </ul>
                   
                  </div>
                  
                 
                      
                </div>
            
          </header>
        </div>
      </div>