<!-- Footer -->
<footer class="footer">
  <div>LIFE, Motto: if you done have one, get one.</div>
  <div class="row full-width">
    <a href="#" class="icon-button twitter">
      <i class="fi-social-twitter"></i><span></span>
    </a>
    <a href="#" class="icon-button facebook">
      <i class="fi-social-facebook"></i><span></span>
    </a>
    <a href="#" class="icon-button gplus">
      <i class="fi-social-google-plus"></i><span></span>
    </a>
   
    
  </div>

  <div>© Copyright Joseph Atiba x Herman-Scheer</div>
</footer>



