<!-- Footer -->
<footer class="footer">
  <div>LIFE, Motto: if you don't have one, get one.</div>
  <div class="row full-width">
    <a href="https://instagram.com/josephatiba/" class="icon-button instagram" target="_blank">
      
    </a>
    <a href="https://github.com/jteebs713" class="icon-button github" target="_blank">
      
    </a>
    <a href="https://www.linkedin.com/pub/joseph-atiba/6a/220/561" class="icon-button linkedin" target="_blank">
      
    </a>
  </div>

  <div>© Copyright Joseph Atiba x Herman-Scheer</div>

  </footer>



