

<section class="hero">

  <%= image_tag('hs_logo.svg', class: "hs-logo") %>

  <div class="row intro">

    <div class="small-centered">

      

      <h1>Joseph Atiba</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>

     

        <a href="http://joseph_atiba.meteor.com/" class="button porfolio-link">Default Button</a>



    </div>

    

  </div>

</section>
