

<section class="hero">

 
  <img src="https://s3-us-west-1.amazonaws.com/jbaportfolio/photos/hs-project-assets/hs_logo.svg" class="hs-logo">

  <div class="row intro">

    <div class="small-centered">

      

      <h1>Joseph Atiba</h1>

      <p>I enjoy being a developer because it allows me to use both my analytical and creative sides on a given project. Whether I am tasked with a improving an extremely specific portion of a website or I'm given a whole project to imagine and execute on my own, I can tap into either side of my brain to get the job done.</p>

     

        

        <a href="#" data-reveal-id="videoModal" class="button success">Click here for inspiration</a>



        <div id="videoModal" class="reveal-modal large" data-reveal aria-labelledby="videoModalTitle" aria-hidden="true" role="dialog">
          <div class="flex-video widescreen vimeo">
            <iframe src="https://player.vimeo.com/video/42566967" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/42566967">The Elite Mentality</a> from <a href="https://vimeo.com/elitedaily">Elite Daily</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
          </div>

          <a class="close-reveal-modal" id="close-modal" aria-label="Close">&#215;</a>
        </div>





<!--  -->
    </div>

    

  </div>

</section>
