  <div class="row">
        <div class="small-12 columns logo-box">
          <!-- <img src="http://placehold.it/1600x600&text=Logo-box"> -->
          <%= image_tag('hs_logo.svg', class: "hs-logo") %>
        </div>
  </div>