/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "foundation_and_overrides";

$text-color: #fff;

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
}

// // // // // // // 

// Top box styles

// // // // // // // 

.hs-logo {
  width: 28%;
  display: block;
  margin: 0 auto;
}

main {
  padding-left: 0;
  padding-right: 0;
}

.hero {
  background: url('https://s3-us-west-1.amazonaws.com/jbaportfolio/photos/hs-project-assets/santa_monica_beach.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  margin-top: 0;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: 1; 
  }
  .intro {
    padding: 3rem;
    position: relative;
    top: 35%;
    transform: translateY(-50%);
    text-align: center;
  }
  h1 {
    color: #302E2F;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 700;
    text-align: center;
  }
  p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
    background: rgba(0, 0, 0, 0.4);
  }
  a {
    display: inline-block;
  }
}

#videoModal {
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
  .flex-video.widescreen.vimeo {
    margin-bottom: 0;
  }
}



#close-modal {
  position: absolute;
  top: -35px;
  right: -30px;
}


// // // // // // // 

// About Me box styles

// // // // // // // 



.bg-skew-main {
  height: 65%;
  background: #302E2F;
  transform: skew(0deg, -10deg);
  margin-top: 8.9%;
  margin-bottom: 15%;
  
}

.block2-content {
  transform: skew(0deg, 10deg);
  // padding-top: 40px;
  .intro-2 {
    width: 80%;
    margin: 0 auto;
    h4 {
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.accordion-div{
  // padding-bottom: 200px;
}

.accordion {
  margin-left: 0;
}



@media only screen and (min-width: 40.063em) and (max-width: 64.062em) {
  .intro-2 {
    p.subheader {
      margin-bottom: 14rem;
    }
    h2 {
      margin: 2rem;
    }
  }
}

@media only screen and (min-width: 64.063em) {
  .intro-2 {
    p.subheader {
      margin-bottom: 18rem;
    }
  }
}

// // // // // // // 

// footer styles

// // // // // // // 

.full-width {
  max-width: 1400px;
}



// footer CSS

.footer {
  background-color: #302E2F;
  z-index: 1;
  margin-top: 8.9%;
  padding: 2rem 4rem;
  text-align: center;
  color: $text-color;
  i {
    font-size: 100px;
  }
}


@media only screen and (min-width: 40.063em) {
.footer {
  .columns:nth-child(n+2) {
    // border-left: 1px solid scale-color($text-color, $lightness: -30%);
    min-height: 100px;
  }
 }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}

i {
  font-size: 2.5rem;
}

.icon-button {
  border-radius: 3.6rem;
  width: 3.6rem;
  height: 3.6rem;
  margin: 0 5px;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  background: white;
}


.icon-button.instagram {
  background: url('https://s3-us-west-1.amazonaws.com/jbaportfolio/photos/hs-project-assets/Instagram_circle.png');
  background-size: 3.61rem 3.6rem;
}

.icon-button.github {
  background-image: url('https://s3-us-west-1.amazonaws.com/jbaportfolio/photos/hs-project-assets/github.png');
  background-size: 3.6rem 3.6rem;
}

.icon-button.linkedin {
  background: url('https://s3-us-west-1.amazonaws.com/jbaportfolio/photos/hs-project-assets/linkedin_circle.png');
  background-size: 3.6rem 3.6rem;
}
