/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import "foundation_and_overrides";

body {
  background: #fff;
}

// // // // // // // 

// Top box styles

// // // // // // // 

.hs-logo {
  width: 28%;
  display: block;
  margin: 0 auto;
}

.hero {
  background: url('santa_monica_beach.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: 1; 
  }
  .intro {
    padding: 3rem;
    position: relative;
    top: 35%;
    transform: translateY(-50%);
  }
  h1 {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center;
  }
  p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;
  }
  .portfolio-link {
    display: block;
    margin: 0 auto;
  }
 
}

// // // // // // // 

// About Me box styles

// // // // // // // 



.bg-skew-main {
  height: 65%;
  background: dodgerblue;
  transform: skew(0deg, -10deg);
  margin-top: 8.9%;
  margin-bottom: 8.9%;
}

.block2-content {
  transform: skew(0deg, 10deg);
  // padding-top: 40px;
  .intro-2 {
    width: 80%;
    margin: 0 auto;
    h4 {
      color: #fff;
      text-transform: uppercase;
      font-weight: 800;
      text-align: center;
      margin: 0 auto;
    }
  }
}



@media only screen and (min-width: 40.063em) and (max-width: 64.062em) {
  .intro-2 {
    p.subheader {
      margin-bottom: 14rem;
    }
    h2 {
      margin: 2rem;
    }
  }
}

@media only screen and (min-width: 64.063em) {
  .intro-2 {
    p.subheader {
      margin-bottom: 18rem;
    }
  }
}

// // // // // // // 

// footer styles

// // // // // // // 

.panel {
  margin-top: 89px;
}



